.clang-format
.idea
CMakeCache.txt
Makefile
cmake_install.cmake
cmake-build-debug
compile_commands.json
paq8px
paq8px.cbp
CMakeFiles
test
experiment
docs
paq8pxd
*.paq8px*
train_bench
afl-in
afl-out
# Visual Studio Specific ignores
.vs/
x64/
release/
debug/
packages/